<div class="flex-content">
  <div class="col-6 b-content container-form">
    <h2 class="text-center">Agregar cita</h2>
    <form>
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre">
      </div>
      <div class="mb-3">
        <label for="fecha" class="form-label">Fecha</label>
        <input type="date" class="form-control" id="fecha">
      </div>
      <div class="mb-3">
        <label for="hora" class="form-label">Hora</label>
        <input type="date" class="form-control" id="hora">
      </div>
      <div class="mb-3">
        <label for="sintomas" class="form-label">Síntomas</label>
        <textarea class="form-control" id="sintomas" rows="3"></textarea>
      </div>
      <div class="d-grid">
        <button class="btn btn-primary btn-form" type="submit">Agregar cita</button>
      </div>
    </form>
  </div>

  <div class="col-5">
    <registro-citas></registro-citas>
  </div>
</div>
