<h2 class="text-center">Agregar cita</h2>
<div class="text-center" *ngIf="formInvalid">
  <span class="badge bg-danger">Todos los campos son obligatorios</span>
</div>
<form>
  <div class="mb-3">
    <label for="name" class="form-label">Nombre</label>
    <input [ngModelOptions]="{standalone: true}" [(ngModel)]="name" type="text" class="form-control" id="name" placeholder="Ingrese su nombre">
  </div>
  <div class="mb-3">
    <label for="date" class="form-label">Fecha</label>
    <input [ngModelOptions]="{standalone: true}" [(ngModel)]="date" type="date" class="form-control" id="date">
  </div>
  <div class="mb-3">
    <label for="hour" class="form-label">Hora</label>
    <input [ngModelOptions]="{standalone: true}" [(ngModel)]="hour" type="time" class="form-control" id="hour">
  </div>
  <div class="mb-3">
    <label for="symptoms" class="form-label">Síntomas</label>
    <textarea [ngModelOptions]="{standalone: true}" [(ngModel)]="symptoms" class="form-control" id="symptoms" rows="3"></textarea>
  </div>
  <div class="d-grid">
    <button class="btn btn-primary btn-form" (click)="addCita()" type="submit">Agregar cita</button>
  </div>
</form>
