<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <!-- This is some text within a card block. -->
        <h4 class="card-title">Different bar sizes</h4>
        <div class="progress m-t-20">
          <div
            class="progress-bar bg-success progress-bar-striped"
            [ngStyle]="{
              'width': getPercentage1,
              'height': '15px'
            }"
            role="progressbar"
            ></div>
        </div>
        <div class="progress m-t-20">
          <div
            class="progress-bar bg-info progress-bar-striped"
            [ngStyle]="{
              'width': getPercentage2,
              'height': '15px'
            }"
            role="progressbar"
            ></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-increment [value]="percentage1" (value)="percentage1 = $event"></app-increment>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-increment [value]="percentage2" (value)="percentage2 = $event" [btnClass]="'btn-info'"></app-increment>
      </div>
    </div>
  </div>
</div>
