<div class="card">
  <div class="d-flex">
    <div class="form-check radios">
      <input
        (change)="changeRadioButton()"
        [(ngModel)]="radioSelect"
        class="form-check-input"
        value="todos"
        type="radio"
        name="flexRadioDefault"
        id="todos">
      <label class="form-check-label" for="todos">
        Todos({{ persona.length }})
      </label>
    </div>
    <div class="form-check radios">
      <input
        (change)="changeRadioButton()"
        [(ngModel)]="radioSelect"
        class="form-check-input"
        value="Femenino"
        type="radio"
        name="flexRadioDefault"
        id="femenino">
      <label class="form-check-label" for="femenino">
        Femenino({{ sexoPersonaF.length }})
      </label>
    </div>
    <div class="form-check radios">
      <input
        (change)="changeRadioButton()"
        [(ngModel)]="radioSelect"
        class="form-check-input"
        value="Masculino"
        type="radio"
        name="flexRadioDefault"
        id="masculino">
      <label class="form-check-label" for="masculino">
        Masculino({{ sexoPersonaM.length }})
      </label>
    </div>
  </div>
</div>
