<div class="container mt-3">
    <div class="row">
        <div class="col-lg-12">
            <div class="mb-3">
                <label for="cantidad" class="form-label">Ingrese cantidad</label>
                <input type="number" class="form-control form-control-lg" id="cantidad" placeholder="ingrese cantidad">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <label for="tengo">Tengo</label>
            <select class="form-select form-control-lg" aria-label="Default select example" id="tengo">
                <option selected>USD</option>
                <option value="1">EUR</option>
                <option value="2">GBP</option>
            </select>
        </div>
        <div class="col-lg-6">
            <label for="quiero">Quiero</label>
            <select class="form-select form-control-lg" aria-label="Default select example" id="quiero">
                <option selected>USD</option>
                <option value="1">EUR</option>
                <option value="2">GBP</option>
            </select>
        </div>
    </div>

    <h5 class="text-center mt-4">
        <span class="bage bg-success">1000 USD</span>
        <span class="bage bg-secondary">SON</span>
        <span class="bage bg-success">1001 EUROS</span>
    </h5>

</div>